html {
  dimensionamento scatola : bordo-scatola ;
}

* , * :: before , * :: after {
  dimensionamento della scatola : ereditare ; / * [1] * /
  margine : 0 ;
  imbottitura : 0 ;
}



/ * FONTS
   ================================================== ======================== * /

body {
  famiglia di caratteri : -apple-system , BlinkMacSystemFont, " Segoe UI " , Roboto, Oxygen-Sans, Ubuntu, Cantarell, " Helvetica Neue " , sans-serif ; / * [2] * /
}



/ * Intestazione
   ================================================== ======================== * /

.header {
  larghezza : 100 % ;
  display : flessibile ;
  giustificare-contenuto : centro ;
  align-items : center ;
  altezza : 80 px ;
  colore di sfondo : # 525286 ;
  colore : #FFFFFF ;
  margine inferiore : 50 px ;
}



/ * Contenitore home page
   ================================================== ======================== * /

.container {
  larghezza : 960 px ;
  margine : 0  auto ;
  display : griglia ;
  grid-template-colonne : ripeti ( 3 , 1 fr );
  gap della griglia : 20 px ;
}



/ * Scheda profilo
   ================================================== ======================== * /

.person {
  text-align : center ;
}

.person  >  * {
  margine inferiore : 5 px ;
}

.person-image {
  larghezza : 100 % ;
  altezza : 300 px ;
}



/ * Pagina profilo
   ================================================== ======================== * /

.profile {
  display : flessibile ;
  altezza : 100 vh ;
  larghezza : 100 % ;
}

.profile-image {
  altezza : 100 % ;
  flex-grow : 1 ;
  base flessibile : 50 % ;
}

.profile-details {
  base flessibile : 30 % ;
  flex-grow : 1 ;
  imbottitura : 50 px ;
  display : flessibile ;
  giustificare-contenuto : centro ;
  direzione flessibile : colonna ;
}

.profile-dettagli  >  * {
  margine inferiore : 20 px ;
}



Tasti / *
   ================================================== ======================== * /

.button {
  altezza : 50 px ;
  altezza della linea : 50 px ;
  larghezza : 100 % ;
  decorazione del testo : nessuna ;
  text-align : center ;
  dimensione carattere : 20 px
}

.button-twitter {
  colore : #FFFFFF ;
  colore di sfondo : # 659AF1 ;
  bordo-raggio : 5 px ;
}